* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #cbd9e2;
  color: #483342;
}

main {
  background-color: #98a4ba;
  border-radius: 10px;
}

h1 {
  font-size: 200%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #483342;
  text-decoration: underline;
}

nav a:hover {
  color: #98a4ba;
}

.sub-header-img {
  width: 100%;
  height: 300px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
}

.profile-pic-container {
  float: left;
  display: inline-flex;
}

#profile-pic {
  width: 33%;
  height: 33%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
}

#about-me {
  text-align: center;
  color: #483342;
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

#about-me div {
  margin-bottom: 150px;
  color: #483342;
  text-decoration: underline #483342 2px;
  font-size: 30px;
}

#resume h3 {
  margin-top: 50px;
  margin-bottom: 25px;
}

#resume {
  text-align: center;
  margin-top: 50px;
}
#resume a {
  color: #483342;
}

#my-work {
  text-align: center;
}

#my-work ul li {
  display: inline-block;
}

#my-work ul:hover {
  color: cadetblue;
}

#my-work h4 {
  margin-top: 50px;
  margin-bottom: 25px;
}

.coming-soon-img-main {
  width: 70%;
  height: 70%;
  border-radius: 30px;
  border: #483342;
  padding: 10px;
  border-style: solid;
  margin-top: 15px;
  opacity: 25%;
}

.coming-soon-img-main:hover {
  opacity: 100%;
}

.coming-soon-img-secondary {
  width: 60%;
  height: 60%;
}

#example-1 {
  text-align: center;
}

#example-1 h5 {
  margin-top: 50px;
  margin-bottom: 25px;
}

.secondary-img-line {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#example-2 img {
  margin-left: 35px;
  border-radius: 15px;
  padding: 10px;
  border-color: #483342;
  border-style: solid;
  opacity: 25%;
}

#example-3 img {
  margin-right: 35px;
  border-radius: 15px;
  padding: 10px;
  border-color: #483342;
  border-style: solid;
  opacity: 25%;
}

#example-2 img:hover {
  opacity: 100%;
}

#example-3 img:hover {
  opacity: 100%;
}

#contact {
  text-align: center;
  padding-bottom: 50px;
  width: 100%;
  background-color: #483342;
  color: #98a4ba;
}

#contact h6 {
  margin-top: 50px;
  margin-bottom: 25px;
}

#contact p,
a {
  display: inline;
  text-decoration: underline;
  margin: 10px;
  color: #98a4ba;
}

@media screen and (max-width: 769px) {
  header,
  nav ul,
  .profile-pic-container {
    flex-direction: column;
    text-align: center;
    display: block;
  }
}
