* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #cbd9e2;
  color: #483342;
}

main {
  background-color: #98a4ba;
}

h1 {
  font-size: 200%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: cornsilk;
  text-decoration: underline;
}

nav a:hover {
  color: #76677c;
}

.sub-header-img {
  width: 100%;
  height: 300px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
}

.profile-pic-container {
  float: left;
  display: inline-flex;
}

#profile-pic {
  width: 33%;
  height: 33%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
}

#about-me {
  text-align: center;
}

#resume {
  text-align: center;
}

#my-work {
  text-align: center;
}

#my-work ul li {
  display: inline-block;
}

#my-work ul:hover {
  color: cadetblue;
}

.coming-soon-img-main {
  width: 50%;
  height: 50%;
}

.coming-soon-img-secondary {
  width: 25%;
  height: 25%;
}

.example-1 {
  text-align: center;
}

.secondary-img-line {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#contact {
  text-align: center;
}

#contact p {
  display: inline;
  text-decoration: underline;
}

@media screen and (max-width: 769px) {
  header,
  nav ul {
    flex-direction: column;
    text-align: center;
  }
}
